date {
    float: right;  
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-bottom:12px;
}

li {
    margin-bottom: 6px;
}

h2 > hr {
    border: black 1px solid;
    margin: 6px 0 24px 0;
}

figcaption {

}

.image-blurred-edge {
    background-image: url('/imgs/grays_peak_2019.jpg');
    background-size: cover;
    width: 600px;
    height:200px;
    -moz-box-shadow: inset white 0 0 5px 5px;
    -webkit-box-shadow: inset white 0 0 5px 5px; 
    box-shadow: inset white 0 0 5px 5px;
}

/* 
h2 {
    margin-top: 24px;
    border-bottom: 1px solid;
} */
